{{ define "main" }}
<!-- layouts/_default/term.html
  This is the fallback page for a taxonomy term e.g. a tag or a category.

  xxxxThis is the default page layout for a taxonomy e.g. /tags/ or /categories/. It
  can be overridden by e.g. layouts/tag/terms.html, or to change the title and
  content create a page e.g. content/tags/_index.md.
-->
<main class="my-2">
  {{ if .Content }}
  <!-- Title. -->
  <h1 class="main-title prose">{{ .Title }}</h1>
  <!-- Content. -->
  <section class="main-content prose">{{ .Content }}</section>

  {{ else }}
  <!-- Title. -->
  <h1>Pages for the '{{ .Title }}' {{ .Data.Singular }}</h1>
  <!-- Content. -->
  {{ end }}

  <!-- List of tags. -->
  <section>
    {{ partial "list-of-pages.html" (dict
      "ctx" .
      "byCount" (index .Page.Params "byCount"))
    }}
  </section>
</main>

{{ end }}
