# .gitignore
node_modules

# Hugo builds into this git repo for deployment.
signal-flags.github.io

# Ignore hugo/tailwind build artifacts.
resources/_gen

# Ignore files built with build:signal-flags.
data/sfDataUri
static/sf-*
