/*! Site styles */

@import "node_modules/bootstrap/scss/bootstrap";
/*! Site styles 2
 */

 // Layout.
#content {
  // Clear top nav.
  padding-top: 40px;
}

// Make it a bit smaller.
.navbar-toggler {
  font-size: 1rem;
  padding: 0.125rem 0.25rem;
  margin: 0.375rem 0 0.25rem;
}

.contrast {
  color: #000;
  background: #d7cfc7;
  border-radius: 0.25rem;
  padding: 0.25rem 0.5rem;
}

.contrast.contrast-1 {
  background: #e7dfd7;
}

// Category label links.
.badge.category {
  background: #cccccc;
}

.badge.tag { background: #ccc }

// Tag label links.

.bg-site-nav {
  background: #224c73;
  // @apply text-white;
}

.front-section-1 {
  background: #224c73;
}
.front-section-2 {
  background: #c7b5a7;
}
.front-section-3 {
  background: #736422;
}
.front-footer {
  background: #2d2926;
}

.site-footer {
  background: #2d2926;
  // @apply text-white;
}

.flags-in-a-row {
  display: flex; flex-wrap: wrap; text-align: center; // flex-wrap text-center mb-4;
}

/* Can't apply w-16 */
.flags-in-a-row > div {
  position: relative;
  margin: 0 0.625rem 0.625rem 0;
  padding-top: 0.625rem;
  width: 4rem;
  // @apply mr-2 mb-1;
}
.flags-in-a-row.triangle > div {
  width: 4rem;
}
.flags-in-a-row.pennant > div {
  width: 6rem;
}
.flags-in-a-row.short > div {
  width: 5rem;
}
.flags-in-a-row.square > div {
  width: 3rem;
  /* width: 2.25rem; */
}

.flags-in-a-row .badge {
  color: $body-color;
  background: rgba(255, 255, 255, 0.75);
  border: 1px solid $body-color;
}
