<meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<title>{{ .Title }}</title>

{{ partial "social-meta.html" . }}

<meta name="theme-color" content="{{ .Site.Params.themeColor }}" />

<!-- Get CSS. -->
{{ $styles := resources.Get "css/main.scss" | resources.ToCSS }}
{{ if .Site.IsServer }}
<!-- In development mode link to built CSS 'as is'. -->
<link rel="stylesheet" href="{{ $styles.RelPermalink }}" />

{{ else if .Page.Params.inlineCss }}
<!-- In production mode purge and minify and include inline. -->
{{ $styles = $styles | postCSS | minify | fingerprint | resources.PostProcess }}
<style>
{{ $styles.Content | safeCSS }}
</style>

{{ else }}
<!-- In production mode purge and minify. -->
{{ $styles = $styles | postCSS | minify | fingerprint | resources.PostProcess }}
<link
  rel="stylesheet"
  href="{{ $styles.RelPermalink }}"
  integrity="{{ $styles.Data.Integrity }}"
/>
{{ end }}

<!-- 
    include a favicon for your site if you have it, else omit the line below 
    Location of favicon can be in mytheme/static/favicon.ico
-->
<link rel='shortcut icon' type='image/x-icon' href='/favicon.ico' />

{{ if not .Page.Params.noJs }}
{{ $bootstrap := resources.Get "js/bootstrap.bundle.min.js" }}
{{ $js := slice $bootstrap | resources.Concat "js/bundle.js" | resources.Minify }}
<script src="{{$js.RelPermalink}}" defer></script>
{{ end }}
  