

{{ $ariaCurrentPage := "aria-current=\"page\"" }}

<div class="fixed w-full z-50 site-header">
  <nav class="container px-4 mx-auto flex flex-wrap items-center justify-left">
    <div class="flex sm:hidden">
      <button id="hamburger" class="focus:outline-none">
        <span class="toggle block"><svg class="h-6 w-6 mr-2" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
</svg></span>
        <span class="toggle hidden"><svg class="h-6 w-6 mr-2" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
</svg></span>
      </button>
    </div>

    <a href="#">signalflags.org</a>

    <div class="toggle hidden w-full sm:w-auto sm:flex">
      <a href="#" class="nav-menu-item">{{ partial "icon" "download" }}Home</a>
      <a href="#" class="nav-menu-item">{{ partial "icon" "download" }}Home</a>
      <a href="#" class="nav-menu-item">{{ partial "icon" "download" }}Home</a>
      <a href="#" class="nav-menu-item">{{ partial "icon" "download" }}Home</a>
    </div>
  </nav>
</div>

<script>
  document.getElementById("hamburger").onclick = function toggleMenu() {
    const navToggle = document.getElementsByClassName("toggle");
    for (let i = 0; i < navToggle.length; i++) {
      navToggle.item(i).classList.toggle("hidden");
    }
  };
</script>
