

{{ $ariaCurrentPage := "aria-current=\"page\"" }}

<nav class="fixed w-full z-50 site-header">
  <div class="container px-4 mx-auto flex flex-wrap items-center p-0 m-0">
    <div class="flexx sm:hidden p-0 mt-6">
      <button id="hamburger" class="focus:outline-none">
        <span class="toggle block">{{ partial "icon" "menu"}}</span>
        <span class="toggle hidden">{{ partial "icon" "info"}}</span>
      </button>
    </div>

    <a href="/" class="mr-8 text-lg">signalflags.org</a>

    <div class="toggle hidden sm:flex">
      <a href="#" class="flex hover:opacity-60 xpy-1 sm:px-4">{{ partial "icon" "download" }}Home</a>
      <a href="#" class="flex hover:opacity-60 xpy-1 sm:px-4">{{ partial "icon" "download" }}Home</a>
      <a href="#" class="flex hover:opacity-60 xpy-1 sm:px-4">{{ partial "icon" "download" }}Home</a>
    </div>
  </div>
</nav> 

<script>
  document.getElementById("hamburger").onclick = function toggleMenu() {
    const navToggle = document.getElementsByClassName("toggle");
    for (let i = 0; i < navToggle.length; i++) {
      navToggle.item(i).classList.toggle("hidden");
    }
  };
</script>

<script>
  function toggleNavbar(){
    document.getElementById('nav-close-icon').classList.toggle("hidden");
    document.getElementById('nav-close-icon').classList.toggle("block");
    document.getElementById('nav-open-icon').classList.toggle("hidden");
    document.getElementById('nav-open-icon').classList.toggle("block");

    document.getElementById('nav-menu').classList.toggle("hidden");
  }
</script>