{{ define "main" }}
<!-- layouts/tag/terms.html
  This is the page layout for the /tags/ page.
  Add content in content/tags/_index.md.
-->
<main class="my-2">
  <!-- Title. -->
  <h1 class="main-title prose">{{ .Title }}</h1>

  <!-- Content. -->
  {{ if .Content }}
  <section class="main-content prose">{{ .Content }}</section>
  {{ else }}
  <section class="main-content prose">
    <p>Tags on this site.</p>
  </section>
  {{ end }}

  <!-- List of tags. -->
  <section>
    {{ partial "taxonomy/taglist-of-terms.html" (dict "ctx" . "byCount" false) }}
  </section>
</main>
{{ end }}
