---
layout: base
permalink: 404.html
eleventyExcludeFromCollections: true
---

<div class="py-5 block-red">
  <div class="container block-red">
    <div class="row">
      <div class="col-2 pt-2">
<div class="mb-3">{% signalFlag 'n4' %}</div>
<div class="mb-3">{% signalFlag 'n0' %}</div>
<div class="mb-0">{% signalFlag 'n4' %}</div>
      </div>
      <div class="col-10 col-sm-10 text-larger">
<h1>Content not found</h1>
Go <a class="text-danger" href="{{ '/' | url }}">home</a>.
      </div>
    </div>
  </div>
</div>
<!--
<div class="container py-5">
  <div class="row">
    <div class="col">
      <div class="alert alert-danger">
        <div class="container-fluid py-3">
          <div class="row">
        <div class="col-5 pt-2">
          <div class="mb-3">{% signalFlag 'n4' %}</div>
          <div class="mb-3">{% signalFlag 'n0' %}</div>
          <div class="mb-0">{% signalFlag 'n4' %}</div>
        </div>
        <div class="col-10 col-sm-10 text-larger">
          <h1>Content not found</h1>
          Go <a class="alert-link" href="{{ '/' | url }}">home</a>.
        </div>
      </div>
        </div>
      </div>
    </div>
  </div>
</div>
-->
