---
# The home page is hand coded, no markdown here.
layout: base
eleventyNavigation:
  key: Home
  order: 1
---

<div class="pt-3 block-blue">
  <div class="container">
    <div class="row">
      <div class="col-12 text-justify text-larger">
        Free images of flags from the International Code of Signals and more to
        enhance your documents, websites and applications.
      </div>
    </div>
  </div>
</div>

<div class="pb-3 block-blue sticky-top">
  <div class="container">
    <div class="row">
      <div
        class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3 mt-3"
      >
        <a href="/start" class="btn btn-lg btn-block btn-outline-light"
          >Enter site</a
        >
      </div>
    </div>
  </div>
</div>

<div class="block-light pb-3">
  <div class="container">
    <div class="row">
      <div
        class="col-12 col-sm-8 offset-sm-2 offset-md-0 col-md-6 col-lg-4 mt-3 mb-2 text-justify block-light"
      >
        Images with outlines look great on a white background so are best for
        documents printed on plain paper.
        <div class="my-1 px-3 pt-2 pb-3 text-left" style="background: #fff">
          <div class="text-larger"><strong>Sailing Instructions</strong></div>

          <div class="d-flex justify-content-between">
            <div style="width: 40%">Class A</div>
            <div style="width: 50%">Class 1</div>
          </div>

          <div class="d-flex justify-content-between pb-2">
            <div style="width: 40%">
              <img src="{% sfImgSrc 'a' %}" alt="Signal flag A">
            </div>
            <div style="width: 50%">
              <img src="{% sfImgSrc 'n1' %}" alt="Numeral 1 pennant">
            </div>
          </div>

          <div class="d-flex justify-content-around text-center mt-2">
            <div class="w-50">Shorten course</div>
            <div class="w-50">General recall</div>
          </div>

          <div class="d-flex justify-content-around pb-2">
            <div style="width: 40%">
              <img src="{% sfImgSrc 's' %}" alt="Signal flag S">
            </div>
            <div style="width: 40%">
              <img src="{% sfImgSrc 's1' %}" alt="1st substitute flag">
            </div>
          </div>

          <div class="mt-2">RRS D2.4 Signal by an Umpire</div>

          <div class="d-flex justify-content-between text-smaller">
            <div style="width: 33%">a. No penalty</div>
            <div style="width: 33%" class="text-center">b. Penalty</div>
            <div style="width: 33%" class="text-right pr-2">c. Report</div>
          </div>

          <div class="d-flex justify-content-between">
            <div style="width: 28%">
              <img src="{% sfImgSrc 'greenwhite' %}" alt="Green and white signal flag">
            </div>
            <div style="width: 28%">
              <img src="{% sfImgSrc 'red' %}" alt="Red signal flag">
            </div>
            <div style="width: 28%">
              <img src="{% sfImgSrc 'blackwhite' %}" alt="Black and white signal flag">
            </div>
          </div>
        </div>
      </div>

      <div
        class="col-12 col-sm-8 offset-sm-2 offset-md-0 col-md-6 col-lg-4 mt-3 mb-2 text-justify block-light"
      >
        On a coloured background images with no outlines sometimes work better
        so outlines are optional.
        {% set options = { outline: false } %}

        <div class="my-1 px-3 pt-2 pb-3 text-left" style="background: transparent;">
          <div class="text-larger"><strong>Sailing Instructions</strong></div>

          <div class="d-flex justify-content-between">
            <div style="width: 40%">Class A</div>
            <div style="width: 50%">Class 1</div>
          </div>

          <div class="d-flex justify-content-between pb-2">
            <div style="width: 40%" class="mr-3">
              <img src="{% sfImgSrc 'a', options %}" alt="Signal flag A">
            </div>
            <div style="width: 50%">
              <img src="{% sfImgSrc 'n1', options %}" alt="Numeral 1 pennant">
            </div>
          </div>

          <div class="d-flex justify-content-around text-center mt-2">
            <div class="w-50">Shorten course</div>
            <div class="w-50">General recall</div>
          </div>

          <div class="d-flex justify-content-around pb-2">
            <div style="width: 40%" class="mr-3">
              <img src="{% sfImgSrc 's', options %}" alt="Signal flag S">
            </div>
            <div style="width: 40%">
              <img src="{% sfImgSrc 's1', options %}" alt="1st substitute flag">
            </div>
          </div>

          <div class="mt-2">RRS D2.4 Signal by an Umpire</div>

          <div class="d-flex justify-content-between text-smaller">
            <div style="width: 33%">a. No penalty</div>
            <div style="width: 33%" class="text-center">b. Penalty</div>
            <div style="width: 33%" class="text-right pr-2">c. Report</div>
          </div>

          <div class="d-flex justify-content-between">
            <div style="width: 28%">
              <img src="{% sfImgSrc 'greenwhite', options %}" alt="Green and white signal flag">
            </div>
            <div style="width: 28%">
              <img src="{% sfImgSrc 'red', options %}" alt="Red signal flag">
            </div>
            <div style="width: 28%">
              <img src="{% sfImgSrc 'blackwhite', options %}" alt="Black and white signal flag">
            </div>
          </div>
        </div>
      </div>

      <div
        class="col-12 col-sm-8 offset-sm-2 col-md-6 offset-md-3 col-lg-4 offset-lg-0 mt-3 mb-2 text-justify block-light"
      >
        As well as rectangular flags, all images are available in the square
        shape used in the United States. {% set
        options = { shape: 'square' } %}

      <div class="my-1 px-3 pt-2 pb-3 text-left" style="background: #fff;">
          <div class="text-larger"><strong>Sailing Instructions</strong></div>

          <div class="d-flex justify-content-between">
            <div style="width: 40%">Class A</div>
            <div style="width: 50%">Class 1</div>
          </div>

          <div class="d-flex justify-content-between pb-2">
            <div style="width: 30%" class="mr-3">
              <img src="{% sfImgSrc 'a', options %}" alt="Signal flag A">
            </div>
            <div style="width: 50%">
              <img src="{% sfImgSrc 'n1', options %}" alt="Numeral 1 pennant">
            </div>
          </div>

          <div class="d-flex justify-content-around text-center mt-2 block-light">
            <div class="w-50">Shorten course</div>
            <div class="w-50">General recall</div>
          </div>

          <div class="d-flex justify-content-around pb-2 block-light">
            <div style="width: 30%" class="mr-3">
              <img src="{% sfImgSrc 's', { shape: 'square', outline: false } %}" alt="Signal flag S">
            </div>
            <div style="width: 33.33%">
              <img src="{% sfImgSrc 's1', { shape: 'square', outline: false } %}" alt="1st substitute flag">
            </div>
          </div>

          <div class="pt-2">RRS D2.4 Signal by an Umpire</div>

          <div class="d-flex justify-content-between text-smaller">
            <div style="width: 33%">a. No penalty</div>
            <div style="width: 33%" class="text-center">b. Penalty</div>
            <div style="width: 33%" class="text-right pr-2">c. Report</div>
          </div>

          <div class="d-flex justify-content-between text-smaller">
            <div style="width: 21%">
              <img src="{% sfImgSrc 'greenwhite', options %}" alt="Green and white signal flag">
            </div>
            <div style="width: 21%">
              <img src="{% sfImgSrc 'red', options %}" alt="Red signal flag">
            </div>
            <div style="width: 21%">
              <img src="{% sfImgSrc 'blackwhite', options %}" alt="Black and white signal flag">
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<div class="py-3 block-olive">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-6 pr-lg-5">
        <h3>Pixel-perfect images at any size</h3>

        <p class="mb-1">Our flags:</p>
        <ul class="pl-3">
          <li class="mb-1">
            are vector images that can be shown at any size without becoming
            blurry
          </li>

          <li class="mb-1">
            are generated by software, not drawn in a graphics package,
            resulting in tiny file sizes and consistent, pixel-perfect alignment
          </li>

          <li class="mb-1">
            have realistic colours that don’t hurt your eyes (or your printer)
          </li>

          <li class="mb-1">
            include all flags and pennants from the International Code of
            Signals (ICS) and the Racing Rules of Sailing (RRS) and more
          </li>

          <li>
            are published in the Public Domain so are free to use for any
            purpose anywhere without restriction.
          </li>
        </ul>
      </div>

      <div class="d-none col-lg-6 d-lg-block pl-5" style="border-left: 1px solid #fff">
        <h3>Use signal flags</h3>

        <h4>In a document</h4>
        <p>
          Download our latest image bundle for use in most software including
          Microsoft Word (2016 on), Office 365 and LibreOffice/OpenOffice
        </p>

        <h4>On a website</h4>
        <p>
          If you use editing software you can just insert our image files, but
          if you use a lot of flag images on a page there are better ways to do
          it.
        </p>

        <h4>In an application</h4>
        <p>
          The software that generates our images is available under an open
          source license.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="py-3 block-light d-lg-none">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h3>Use signal flags</h3>

        <h4>In a document</h4>
        <p>
          Download our latest image bundle for use in most software including
          Microsoft Word (2016 on), Office 365 and LibreOffice/OpenOffice
        </p>

        <h4>On a website</h4>
        <p>
          If you use editing software you can just insert our image files, but
          if you use a lot of flag images on a page there are better ways to do
          it.
        </p>

        <h4>In an application</h4>
        <p>
          The software that generates our images is available under an open
          source license.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="py-2 block-dark">
  <div class="container">
    <div class="row">
      <footer class="col-12 text-center">
        This website Copyright &copy; 2020
        <a class="text-light" href="/about/">signalflags.org</a>.
      </footer>
    </div>
  </div>
</div>
