<!DOCTYPE html>
<html lang="{{ .Language.Lang }}">
  <head>
    {{ partial "head.html" . }}
  </head>
  <body class="text-danger">

    <div class="container py-4 prose">
      <div class="row">
        <div class="col-8 col-sm-3">

          <a href="/flags/n4/">
            <svg class="pb-3" viewBox="0 0 540 180">
              <path fill="#f5f5f5" d="M198,22V158L162,162V18ZM0,72H540V108H0Z"/>
              <path fill="#c8102e" d="M0,0V72H162V18ZM198,22V72H540V60ZM198,158V108H540V120ZM0,180V108H162V162Z"/>
              <path fill="none" stroke="#000" stroke-width="1" d="M0.5,0.5L539.5,60.5V119.5L0.5,179.5Z"/>
            </svg>
          </a>

          <a href="/flags/n0/">
            <svg class="pb-3" viewBox="0 0 540 180">
              <path fill="#ffd100" d="M0,0L157.5,17.5V162.5L0,180Z"/>
              <path fill="#c8102e" d="M157.5,17.5L315,35V145L157.5,162.5Z"/>
              <path fill="#ffd100" d="M315,35L540,60V120L315,145Z"/>
              <path fill="none" stroke="#000" stroke-width="1" d="M0.5,0.5L539.5,60.5V119.5L0.5,179.5Z"/>
            </svg>
          </a>

          <a href="/flags/n4/">
            <svg viewBox="0 0 540 180">
              <path fill="#f5f5f5" d="M198,22V158L162,162V18ZM0,72H540V108H0Z"/>
              <path fill="#c8102e" d="M0,0V72H162V18ZM198,22V72H540V60ZM198,158V108H540V120ZM0,180V108H162V162Z"/>
              <path fill="none" stroke="#000" stroke-width="1" d="M0.5,0.5L539.5,60.5V119.5L0.5,179.5Z"/>
            </svg>
          </a>
        </div>

        <div class="col-sm-9 mx-auto">
          <h1>Page not found</h1>
          Go to the <a href="/">signalflags.org home page</a>.
        </div>

      </div>
    </div>
  </body>
</html>
