<!doctype html>
<html lang="{{ .Language.Lang }}">
  <head>
    {{ partial "head.html" . }}
  </head>
  <body>
    <div class="pt-3 block-blue">
      <div class="container">
          <div class="text-center fs-5">
            Free images of flags from the International Code of Signals and more
            to enhance your documents, websites and applications.
          </div>
        </div>
    </div>

    <div class="pb-3 block-blue sticky-top">
      <div class="container">
        <div class="row">
          <div
            class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3 mt-3"
          >
            <a href="/flags/" class="btn btn-lg d-block btn-outline-light"
              >Enter site</a
            >
          </div>
        </div>
      </div>
    </div>

    <div class="block-light pb-3">
      <div class="container">
        <div class="row">
          <div
            class="col-12 col-sm-8 offset-sm-2 offset-md-0 col-md-6 col-lg-4 mt-3 mb-2 text-justify block-light"
          >
            Images with outlines look great on a white background so are best
            for documents printed on plain paper.
            <div class="my-1 px-3 pt-2 pb-3 text-left" style="background: #fff">
              <div class="fs-4">
                <strong>Sailing Instructions</strong>
              </div>

              <div class="d-flex justify-content-between text-center">
                <div style="width: 36%">Class A</div>
                <div style="width: 54%">Class 1</div>
              </div>

              <div class="d-flex justify-content-between pb-2">
                <div style="width: 36%">
                  <img
                    src='{{ index .Site.Data.sfDataUri.sfRectangleOutline "a" | safeURL }}'
                    alt='{{ index $.Page.Site.Data.sfFlags.flags "a" "alt" }}'
                  />
                </div>
                <div style="width: 54%">
                  <img
                    src='{{ index .Site.Data.sfDataUri.sfPennantOutline "n1" | safeURL }}'
                    alt='{{ index $.Page.Site.Data.sfFlags.flags "n1" "alt" }}'
                  />
                </div>
              </div>

              <div class="d-flex justify-content-around text-center mt-2">
                <div style="width: 36%">Shorten course</div>
                <div style="width: 36%">General recall</div>
              </div>

              <div class="d-flex justify-content-around pb-2">
                <div style="width: 36%">
                  <img
                    src='{{ index .Site.Data.sfDataUri.sfRectangleOutline "s" | safeURL }}'
                    alt='{{ index $.Page.Site.Data.sfFlags.flags "s" "alt" }}'
                  />
                </div>
                <div style="width: 36%">
                  <img
                    src='{{ index .Site.Data.sfDataUri.sfTriangleOutline "s1" | safeURL }}'
                    alt='{{ index $.Page.Site.Data.sfFlags.flags "s1" "alt" }}'
                  />
                </div>
              </div>

              <div class="fs-5 pt-2">RRS D2.4 Signal by an Umpire</div>

              <div class="d-flex justify-content-between text-smaller">
                <div style="width: 33%">a. No penalty</div>
                <div style="width: 33%" class="text-center">b. Penalty</div>
                <div style="width: 33%" class="text-right pr-2">c. Report</div>
              </div>

              <div class="d-flex justify-content-between text-smaller">
                <div style="width: 32%">
                  <img
                    src='{{ index .Site.Data.sfDataUri.sfRectangleOutline "greenwhite" | safeURL }}'
                    alt='{{ index $.Page.Site.Data.sfFlags.flags "s" "alt" }}'
                  />
                </div>
                <div style="width: 32%">
                  <img
                    src='{{ index .Site.Data.sfDataUri.sfRectangleOutline "red" | safeURL }}'
                    alt='{{ index $.Page.Site.Data.sfFlags.flags "red" "alt" }}'
                  />
                </div>
                <div style="width: 32%">
                  <img
                    src='{{ index .Site.Data.sfDataUri.sfRectangleOutline "blackwhite" | safeURL }}'
                    alt='{{ index $.Page.Site.Data.sfFlags.flags "blackwhite" "alt" }}'
                  />
                </div>
              </div>
            </div>
          </div>

          <div
            class="col-12 col-sm-8 offset-sm-2 offset-md-0 col-md-6 col-lg-4 mt-3 mb-2 text-justify block-light"
          >
            On a coloured background images with no outlines sometimes work
            better so outlines are optional.

            <div
              class="my-1 px-3 pt-2 pb-3 text-left"
              style="background: transparent"
            >
              <div class="fs-4">
                <strong>Sailing Instructions</strong>
              </div>

              <div class="d-flex justify-content-between text-center">
                <div style="width: 36%">Class A</div>
                <div style="width: 54%">Class 1</div>
              </div>

              <div class="d-flex justify-content-between pb-2">
                <div style="width: 36%" class="mr-3">
                  <img
                    src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiID8+PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNDAgMTgwIj48cGF0aCBmaWxsPSIjZjVmNWY1IiBkPSJNMCwwSDEyMFYxODBIMFoiLz48cGF0aCBmaWxsPSIjMDA1ZWI4IiBkPSJNMTIwLDBIMjQwTDE4MCw5MEwyNDAsMTgwSDEyMFoiLz48L3N2Zz4="
                    alt="Signal flag A"
                  />
                </div>
                <div style="width: 54%">
                  <img
                    src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiID8+CjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2aWV3Qm94PSIwIDAgNTQwIDE4MCI+CjxwYXRoIGZpbGw9IiNmNWY1ZjUiIGQ9Ik0wLDBMNTQwLDYwVjEyMEwwLDE4MFpNMTM1LDQ1QTQ1LDQ1IDAgMCAwIDkwLDkwQTQ1LDQ1IDAgMSAwIDEzNSw0NSIvPgo8Y2lyY2xlIGZpbGw9IiNjODEwMmUiIGN4PSIxMzUiIGN5PSI5MCIgcj0iNDUiLz4KPC9zdmc+Cg==",
                    alt="Numeral 1 pennant"
                  />
                </div>
              </div>

              <div class="d-flex justify-content-around text-center mt-2">
                <div class="w-50">Shorten course</div>
                <div class="w-50">General recall</div>
              </div>

              <div class="d-flex justify-content-around pb-2">
                <div style="width: 36%">
                  <img
                    src='{{ index .Site.Data.sfDataUri.sfRectangleNoOutline "s" | safeURL }}'
                    alt='{{ index $.Page.Site.Data.sfFlags.flags "s" "alt" }}'
                  />
                </div>
                <div style="width: 36%">
                  <img
                    src='{{ index .Site.Data.sfDataUri.sfTriangleNoOutline "s1" | safeURL }}'
                    alt='{{ index $.Page.Site.Data.sfFlags.flags "s1" "alt" }}'
                  />
                </div>
              </div>

              <div class="fs-5 pt-2">RRS D2.4 Signal by an Umpire</div>

              <div class="d-flex justify-content-between text-smaller">
                <div style="width: 33%">a. No penalty</div>
                <div style="width: 33%" class="text-center">b. Penalty</div>
                <div style="width: 33%" class="text-right pr-2">c. Report</div>
              </div>

              <div class="d-flex justify-content-between text-smaller">
                <div style="width: 32%">
                  <img
                    src='{{ index .Site.Data.sfDataUri.sfRectangleNoOutline "greenwhite" | safeURL }}'
                    alt='{{ index $.Page.Site.Data.sfFlags.flags "s" "alt" }}'
                  />
                </div>
                <div style="width: 32%">
                  <img
                    src='{{ index .Site.Data.sfDataUri.sfRectangleNoOutline "red" | safeURL }}'
                    alt='{{ index $.Page.Site.Data.sfFlags.flags "red" "alt" }}'
                  />
                </div>
                <div style="width: 32%">
                  <img
                    src='{{ index .Site.Data.sfDataUri.sfRectangleNoOutline "blackwhite" | safeURL }}'
                    alt='{{ index $.Page.Site.Data.sfFlags.flags "blackwhite" "alt" }}'
                  />
                </div>
              </div>
            </div>
          </div>

          <div
            class="col-12 col-sm-8 offset-sm-2 col-md-6 offset-md-3 col-lg-4 offset-lg-0 mt-3 mb-2 text-justify block-light"
          >
            As well as rectangular flags, all images are available in the square
            shape used in the United States.

            <div class="my-1 px-3 pt-2 pb-3 text-left" style="background: #fff">
              <div class="fs-4">
                <strong>Sailing Instructions</strong>
              </div>

              <div class="d-flex justify-content-between text-center">
                <div style="width: 27%">Class A</div>
                <div style="width: 54%">Class 1</div>
              </div>

              <div class="d-flex justify-content-between pb-2">
                <div style="width: 27%">
                  <img
                    src='{{ index .Site.Data.sfDataUri.sfSquareOutline "a" | safeURL }}'
                    alt='{{ index $.Page.Site.Data.sfFlags.flags "a" "alt" }}'
                  />
                </div>
                <div style="width: 54%">
                  <img
                    src='{{ index .Site.Data.sfDataUri.sfPennantOutline "n1" | safeURL }}'
                    alt='{{ index $.Page.Site.Data.sfFlags.flags "n1" "alt" }}'
                  />
                </div>
              </div>

              <div
                class="d-flex justify-content-around text-center mt-2 block-light"
              >
                <div class="w-50">Shorten course</div>
                <div class="w-50">General recall</div>
              </div>

              <div class="d-flex justify-content-around pb-2 block-light">
                <div style="width: 27%" class="mr-3">
                  <img
                    src='{{ index .Site.Data.sfDataUri.sfSquareNoOutline "s" | safeURL }}'
                    alt='{{ index $.Page.Site.Data.sfFlags.flags "s" "alt" }}'
                  />
                </div>
                <div style="width: 36%">
                  <img
                    src='{{ index .Site.Data.sfDataUri.sfTriangleNoOutline "s1" | safeURL }}'
                    alt='{{ index $.Page.Site.Data.sfFlags.flags "s1" "alt" }}'
                  />
                </div>
              </div>

              <div class="fs-5 pt-2">RRS D2.4 Signal by an Umpire</div>

              <div class="d-flex justify-content-between text-smaller">
                <div style="width: 33%">a. No penalty</div>
                <div style="width: 33%" class="text-center">b. Penalty</div>
                <div style="width: 33%" class="text-right pr-2">c. Report</div>
              </div>

              <div class="d-flex justify-content-between text-smaller">
                <div style="width: 24%">
                  <img
                    src='{{ index .Site.Data.sfDataUri.sfSquareOutline "greenwhite" | safeURL }}'
                    alt='{{ index $.Page.Site.Data.sfFlags.flags "s" "alt" }}'
                  />
                </div>
                <div style="width: 24%">
                  <img
                    src='{{ index .Site.Data.sfDataUri.sfSquareOutline "red" | safeURL }}'
                    alt='{{ index $.Page.Site.Data.sfFlags.flags "red" "alt" }}'
                  />
                </div>
                <div style="width: 24%">
                  <img
                    src='{{ index .Site.Data.sfDataUri.sfSquareOutline "blackwhite" | safeURL }}'
                    alt='{{ index $.Page.Site.Data.sfFlags.flags "blackwhite" "alt" }}'
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="py-3 block-olive">
      <div class="container">
        <div class="row">
          <div class="col-12 col-lg-6 pr-lg-5">
            <h3>Pixel-perfect images at any size</h3>

            <p class="mb-1">Our flags:</p>
            <ul class="pl-3">
              <li class="mb-1">
                are vector images that can be shown at any size without becoming
                blurry
              </li>

              <li class="mb-1">
                are generated by software, not drawn in a graphics package,
                resulting in tiny file sizes and consistent, pixel-perfect
                alignment
              </li>

              <li class="mb-1">
                have realistic colours that don’t hurt your eyes (or your
                printer)
              </li>

              <li class="mb-1">
                include all flags and pennants from the International Code of
                Signals (ICS) and the Racing Rules of Sailing (RRS) and more
              </li>

              <li>
                are published in the Public Domain so are free to use for any
                purpose anywhere without restriction.
              </li>
            </ul>
          </div>

          <div
            class="d-none col-lg-6 d-lg-block pl-5"
            style="border-left: 1px solid #fff"
          >
            <h3>Use signal flags</h3>

            <h4>In a document</h4>
            <p>
              Download our latest image bundle for use in most software
              including Microsoft Word (2016 on), Office 365 and
              LibreOffice/OpenOffice
            </p>

            <h4>On a website</h4>
            <p>
              If you use editing software you can just insert our image files,
              but if you use a lot of flag images on a page there are better
              ways to do it.
            </p>

            <h4>In an application</h4>
            <p>
              The software that generates our images is available under an open
              source license.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="py-3 block-light d-lg-none">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <h3>Use signal flags</h3>

            <h4>In a document</h4>
            <p>
              Download our latest image bundle for use in most software
              including Microsoft Word (2016 on), Office 365 and
              LibreOffice/OpenOffice
            </p>

            <h4>On a website</h4>
            <p>
              If you use editing software you can just insert our image files,
              but if you use a lot of flag images on a page there are better
              ways to do it.
            </p>

            <h4>In an application</h4>
            <p>
              The software that generates our images is available under an open
              source license.
            </p>
          </div>
        </div>
      </div>
    </div>

    {{ partial "footer.html"}}
  </body>
</html>
