// src/style.scss

@import 'custom';

.block-blue {
  background: #224c73;
  color: #fff;
}
.block-green {
  background: #227355;
  color: #fff;
}
.block-red {
  background: #732c37;
  color: #fff;
}
.block-olive {
  background: #736422;
  color: #fff;
}
.block-dark {
  background: #2d2926;
  color: #fff;
}
.block-light {
  background: #c7b5a7;
}

// Either import the whole of Bootstrap or just a selection.
@import '../node_modules/bootstrap/scss/bootstrap';
// @import 'bootstrap-selection';

.text-larger {
  font-size: 1.25rem;
}
.text-smaller {
  font-size: 0.75rem;
}

h1 .direct-link {
  color: rgba(0, 86, 179, 0);
}
h1:hover .direct-link {
  color: rgba(0, 86, 179, 0.25);
  text-decoration: none;
}
h2 .direct-link {
  color: rgba(0, 86, 179, 0);
}
h2:hover .direct-link {
  color: rgba(0, 86, 179, 0.25);
  text-decoration: none;
}
h3 .direct-link {
  color: rgba(0, 86, 179, 0);
}
h3:hover .direct-link {
  color: rgba(0, 86, 179, 0.25);
  text-decoration: none;
}
h4 .direct-link {
  color: rgba(0, 86, 179, 0);
}
h4:hover .direct-link {
  color: rgba(0, 86, 179, 0.25);
  text-decoration: none;
}
h5 .direct-link {
  color: rgba(0, 86, 179, 0);
}
h5:hover .direct-link {
  color: rgba(0, 86, 179, 0.25);
  text-decoration: none;
}
h6 .direct-link {
  color: rgba(0, 86, 179, 0);
}
h6:hover .direct-link {
  color: rgba(0, 86, 179, 0.25);
  text-decoration: none;
}
