{{ define "main" }}
<div class="container px-4 mx-auto">
  <h1 id="title">{{ .Title }}</h1>
  aa
  <article id="content">
    <div class="flex">
      <div style="width: 4rem">
        {{ partial "sf/linked-image.html" (dict "ctx" . "key" .Params.flagKey
        "design" "rectangleOutline") }}
      </div>
      <div style="width: 4rem">
        {{ partial "sf/linked-image.html" (dict "ctx" . "key" .Params.flagKey
        "design" "rectangleNoOutline") }}
      </div>
      <div class="flag-page-flag square">
        {{ partial "sf/linked-image.html" (dict "ctx" . "key" .Params.flagKey
        "design" "squareNoOutline") }}
      </div>
      <div class="flag-page-flag square">
        {{ partial "sf/linked-image.html" (dict "ctx" . "key" .Params.flagKey
        "design" "squareOutline") }}
      </div>
      {{ partial "sf/linked-image.html" (dict "ctx" . "key" .Params.flagKey
      "design" "squareNoOutlinePrimary") }}
    </div>
    {{ .Content }}
  </article>
</div>
{{ end }}
